*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.content{
    width: 1000px;
    margin: 0 auto;
}
.unit_1{
    width: 300px;
    height: 190px;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
}
.slideshow{
    width: inherit;
    height: 120px;
}
.unit_2{
    width: 300px;
    height: 220px;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
}
.uvel{
    width: inherit;
    height: 150px;
}